<!DOCTYPE html>
<html lang="en">


<head>
    <title>Education Master Template</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Education master is one of the best educational html template, it's suitable for all education websites like university,college,school,online education,tution center,distance education,computer education">
    <meta name="keyword" content="education html template, university template, college template, school template, online education template, tution center template">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index-2.html"><img src="images/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>สื่อทั้งหมด</h4>
                            <ul>
                                <!--
                                <li><a href="course-details.html">Accounting/Finance</a></li>
                                <li><a href="course-details.html">civil engineering</a></li>
                                <li><a href="course-details.html">Art/Design</a></li>
                                <li><a href="course-details.html">Marine Engineering</a></li>
                                <li><a href="course-details.html">Business Management</a></li>
                                <li><a href="course-details.html">Journalism/Writing</a></li>
                                <li><a href="course-details.html">Physical Education</a></li>
                                <li><a href="course-details.html">Political Science</a></li>
                                <li><a href="course-details.html">Sciences</a></li>
                                <li><a href="course-details.html">Statistics</a></li>
                                <li><a href="course-details.html">Web Design/Development</a></li>
                                <li><a href="course-details.html">SEO</a></li>
                                <li><a href="course-details.html">Google Business</a></li>
                                <li><a href="course-details.html">Graphics Design</a></li>
                                <li><a href="course-details.html">Networking Courses</a></li>
                                <li><a href="course-details.html">Information technology</a></li>
                             -->
                            </ul>
                            <h4>User Account</h4>
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a></li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Register</a></li>
                            </ul>
                            <h4>All Pages</h4>
                            <ul>
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="about.html">About us</a></li>
                                <li><a href="admission.html">Admission</a></li>
                                <li><a href="all-courses.html">All courses</a></li>
                                <li><a href="course-details.html">Course details</a></li>
                                <li><a href="awards.html">ประกวด</a></li>
                                <li><a href="seminar.html">Seminar</a></li>
                                <li><a href="events.html">Events</a></li>
                                <li><a href="event-details.html">Event details</a></li>
                                <li><a href="event-register.html">Event register</a></li>
                                <li><a href="contact-us.html">Contact us</a></li>
                            </ul>
                            <h4>User Profile</h4>
                            <ul>
                                <li><a href="dashboard.html">User profile</a></li>
                                <li><a href="db-courses.html">Courses</a></li>
                                <li><a href="db-exams.html">Exams</a></li>
                                <li><a href="db-profile.html">Prfile</a></li>
                                <li><a href="db-time-line.html">Time line</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">ห้องสมุดเพื่อการเรียนรู้ ประเวศ : เขตประเวศ ซ.สุภาพงษ์ ถ.ศรีนครินทร์ แขวงหนองบอน เขตประเวศ กทม. 10260</a>
                                </li>
                                <li><a href="#">Phone: โทร. 0 2330 8479</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a>
                                </li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Sign Up</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index-2.html"><img src="images/logo.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="#">หน้าแรก</a>
                                </li>
                                <li class="about-menu">
                                    <a href="#" class="mm-arr">หนังสือและสื่อต่างๆ</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="">
                                                            <img src="images/h-about.jpg" alt="">
                                                            <span>Academics>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>ห้องสมุดประชาชน พื้นที่ที่เป็นได้มากกว่าที่เก็บหนังสือ</p>
                                                    <a href="" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="">หนังสือทั่วไป &หนังสืออ้างอิง</a></li>
                                                        <li><a href="">ชีวประวัติ</a></li>
                                                        <li><a href="">หนังสือเด็ก</a></li>
                                                        <li><a href="">งานฝีมือ & งานอดิเรก</a></li>
                                                        <li><a href="">นิยาย & วรรณกรรมเยาวชนแปล</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-s4">
                                                    <ul>
                                                        <li><a href="">ศาสนา & ปรัชญา</a></li>
                                                        <li><a href="">คอมพิวเตอร์</a></li>
                                                        <li><a href="">วิทยาการ & เทดโนโลยี</a></li>
                                                        <li><a href="">หนังสือสำหรับเยาวชน &หนังสือสำหรับเด็กเล็ก</a>
                                                        </li>
                                                        <li><a href="">การท่องเที่ยว</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="admi-menu">
                                    <a href="#" class="mm-arr">การให้บริการ</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="admi-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="about.html">
                                                            <img src="images/h-about1.jpg" alt="">
                                                            <span>Academics</span>
                                                        </a>
                                                    </div>
                                                    <p>เป็นข้อความทำสอบ เพื่อจำลองการให้บริการ การเข้าใช้งานห้องสมุดประชาชนในรูปแบบใหม่. เข้าถึงประชาชนอย่างไกล้ชิด
                                                    </p>

                                                    <a href="about.html" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="admission.html">
                                                            <img src="images/h-adm1.jpg" alt="">
                                                            <span>Admission</span>
                                                        </a>
                                                    </div>
                                                    <p>เป็นข้อความทำสอบ เพื่อจำลองการให้บริการ การเข้าใช้งานห้องสมุดประชาชนในรูปแบบใหม่. เข้าถึงประชาชนอย่างไกล้ชิด </p>
                                                    <a href="admission.html" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="awards.html">
                                                            <img src="images/h-cam1.jpg" alt="">
                                                            <span>History & awards</span>
                                                        </a>
                                                    </div>
                                                    <p>สำรวจอาชีพสร้างประวัติส่วนตัวของคุณและหางานที่ยอดเยี่ยม!</p>
                                                    <a href="awards.html" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s4">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="seminar.html">
                                                            <img src="images/h-res1.jpg" alt="">
                                                            <span>Seminar 2018</span>
                                                        </a>
                                                    </div>
                                                    <p>มีไฟในเทศกาลวันหยุดนี้หรือไม่? อย่าทิ้งพวกเขาไปรีไซเคิลพวกเขา! สถานที่ตั้งห้องสมุดประชาชนดิจิทัลกรุงเทพจะเป็นอย่างไร
                                                    </p>
                                                    <a href="seminar.html" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li><a href="events.html">ข่าวและกิจกรรม</a>
                                </li>


                                <li><a href="#">เจ้าหน้าที่ของเรา</a>
                                </li>

                                <li class="cour-menu">
                                    <a href="#!" class="mm-arr">ห้องสมุดทั้ง 37 แห่ง</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="cour-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-cour-com mm1-s3">
                                                    <h4>โซน กทม. ฝั่งทิศเหนือ</h4>
                                                    <ul>
                                                        <li><a href="">เวปไซด์ 1</a></li>
                                                        <li><a href="">เวปไซด์ 2</a></li>
                                                        <li><a href="">เวปไซด์ 3</a></li>
                                                        <li><a href="">เวปไซด์ 4</a></li>
                                                        <li><a href="">เวปไซด์ 5</a></li>
                                                        <li><a href="">เวปไซด์ 6</a></li>
                                                        <li><a href="">เวปไซด์ 7</a></li>
                                                        <li><a href="">เวปไซด์ 8</a></li>
                                                        <li><a href="">เวปไซด์ 9</a></li>
                                                        <li><a href="">เวปไซด์ 10</a></li>
                                                        <li><a href="">เวปไซด์ 11</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-cour-com mm1-s3">
                                                    <h4>โซน กทม. ฝั่งทิศตะวันออก</h4>
                                                    <ul>
                                                        <li><a href="">เวปไซด์ 12</a></li>
                                                        <li><a href="">เวปไซด์ 13</a></li>
                                                        <li><a href="">เวปไซด์ 14</a></li>
                                                        <li><a href="">เวปไซด์ 15</a></li>
                                                        <li><a href="">เวปไซด์ 16</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-cour-com mm1-s3">
                                                    <h4>โซน เขตพระนคร:</h4>
                                                    <ul>
                                                        <li><a href="">เวปไซด์ 17</a></li>
                                                        <li><a href="">เวปไซด์ 18</a></li>
                                                        <li><a href="">เวปไซด์ 19</a></li>
                                                        <li><a href="">เวปไซด์ 20</a></li>
                                                        <li><a href="">เวปไซด์ 21</a></li>
                                                        <li><a href="">เวปไซด์ 22</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-cour-com mm1-s3">
                                                    <h4>โซน กทม. ฝั่งทิศตะวันตก:</h4>
                                                    <ul>
                                                        <li><a href="">เวปไซด์ 23</a></li>
                                                        <li><a href="">เวปไซด์ 24</a></li>
                                                        <li><a href="">เวปไซด์ 25</a></li>
                                                        <li><a href="">เวปไซด์ 26</a></li>
                                                        <li><a href="">เวปไซด์ 27</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-cour-com mm1-s4">
                                                    <h4>โซน กทม. ฝั่งทิศใต้</h4>
                                                    <ul>
                                                        <li><a href="">เวปไซด์ 28</a></li>
                                                        <li><a href="">เวปไซด์ 29</a></li>
                                                        <li><a href="">เวปไซด์ 30</a></li>
                                                        <li><a href="">เวปไซด์ 31</a></li>
                                                        <li><a href="">เวปไซด์ 32</a></li>
                                                        <li><a href="">เวปไซด์ 33</a></li>
                                                        <li><a href="">เวปไซด์ 34</a></li>
                                                        <li><a href="">เวปไซด์ 35</a></li>
                                                        <li><a href="">เวปไซด์ 36</a></li>
                                                        <li><a href="">เวปไซด์ 37</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                </li>
                                <li><a href="contact-us.html">ติดต่อเรา</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="ใสคำค้นหาที่นี้">
                                    </div>
                                    <div class="sf-list">
                                        <ul>
                                            <li><a href="course-details.html">Accounting/Finance</a></li>
                                            <li><a href="course-details.html">civil engineering</a></li>
                                            <li><a href="course-details.html">Art/Design</a></li>
                                            <li><a href="course-details.html">Marine Engineering</a></li>
                                            <li><a href="course-details.html">Business Management</a></li>
                                            <li><a href="course-details.html">Journalism/Writing</a></li>
                                            <li><a href="course-details.html">Physical Education</a></li>
                                            <li><a href="course-details.html">Political Science</a></li>
                                            <li><a href="course-details.html">Sciences</a></li>
                                            <li><a href="course-details.html">Statistics</a></li>
                                            <li><a href="course-details.html">Web Design/Development</a></li>
                                            <li><a href="course-details.html">SEO</a></li>
                                            <li><a href="course-details.html">Google Business</a></li>
                                            <li><a href="course-details.html">Graphics Design</a></li>
                                            <li><a href="course-details.html">Networking Courses</a></li>
                                            <li><a href="course-details.html">Information technology</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Search Course">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    <!--SECTION START-->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>เกี่ยวกับห้องสมุด <span> ประเวศ</span></h2>
                            <p>(อยู่ในช่วงพัฒนา ระบบเว็บ link กับระบบ hardware library Cloud Storage )</p>
                        </div>
                    </div>
                    <div class="ed-about-sec1">
                        <div class="ed-advan">
                            <ul>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="images/adv/1.png" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>ประกวด</h4>
                                        <p>เทคโนโลยีในการใช้งานระบบคอมพิวเตอร์กำลังจะเปลี่ยนไป เปลี่ยนจากการที่ผู้ใช้งานต้องเตรียมหรือติดตั้งระบบคอมพิวเตอร์เพื่อตอบสนองการทำงานไว้ที่สำนักงานด้วยตัวเอง ไปเป็นการใช้งานระบบคอมพิวเตอร์ของผู้ให้บริการ Cloud Computing</p>
                                        <a href="awards.html">อ่านต่อ</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="images/adv/2.png" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>ความรู้</h4>
                                        <p>เทคโนโลยีในการใช้งานระบบคอมพิวเตอร์กำลังจะเปลี่ยนไป เปลี่ยนจากการที่ผู้ใช้งานต้องเตรียมหรือติดตั้งระบบคอมพิวเตอร์เพื่อตอบสนองการทำงานไว้ที่สำนักงานด้วยตัวเอง ไปเป็นการใช้งานระบบคอมพิวเตอร์ของผู้ให้บริการ Cloud Computing</p>
                                        <a href="research.html">อ่านต่อ</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="images/adv/3.png" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>การศึกษา</h4>
                                        <p> เทคโนโลยีในการใช้งานระบบคอมพิวเตอร์กำลังจะเปลี่ยนไป เปลี่ยนจากการที่ผู้ใช้งานต้องเตรียมหรือติดตั้งระบบคอมพิวเตอร์เพื่อตอบสนองการทำงานไว้ที่สำนักงานด้วยตัวเอง ไปเป็นการใช้งานระบบคอมพิวเตอร์ของผู้ให้บริการ Cloud Computing</p>
                                        <a href="all-courses.html">อ่านต่อ</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="images/adv/4.png" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>ประชาชน</h4>
                                        <p> เทคโนโลยีในการใช้งานระบบคอมพิวเตอร์กำลังจะเปลี่ยนไป เปลี่ยนจากการที่ผู้ใช้งานต้องเตรียมหรือติดตั้งระบบคอมพิวเตอร์เพื่อตอบสนองการทำงานไว้ที่สำนักงานด้วยตัวเอง ไปเป็นการใช้งานระบบคอมพิวเตอร์ของผู้ให้บริการ Cloud Computing</p>
                                        <a href="awards.html">อ่านต่อ</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="images/adv/5.png" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>ประชาชน</h4>
                                        <p> เทคโนโลยีในการใช้งานระบบคอมพิวเตอร์กำลังจะเปลี่ยนไป เปลี่ยนจากการที่ผู้ใช้งานต้องเตรียมหรือติดตั้งระบบคอมพิวเตอร์เพื่อตอบสนองการทำงานไว้ที่สำนักงานด้วยตัวเอง ไปเป็นการใช้งานระบบคอมพิวเตอร์ของผู้ให้บริการ Cloud Computing</p>
                                        <a href="facilities.html">อ่านต่อ</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="ed-ad-img">
                                        <img src="images/adv/6.png" alt="">
                                    </div>
                                    <div class="ed-ad-dec">
                                        <h4>ประชาชน</h4>
                                        <p>เทคโนโลยีในการใช้งานระบบคอมพิวเตอร์กำลังจะเปลี่ยนไป เปลี่ยนจากการที่ผู้ใช้งานต้องเตรียมหรือติดตั้งระบบคอมพิวเตอร์เพื่อตอบสนองการทำงานไว้ที่สำนักงานด้วยตัวเอง ไปเป็นการใช้งานระบบคอมพิวเตอร์ของผู้ให้บริการ Cloud Computing</p>
                                        <a href="departments.html">อ่านต่อ</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ed-about-sec1">
                        <div class="col-md-6"></div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->


    <!-- FOOTER COURSE BOOKING -->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            <img src="images/3.png" alt="">
                        </div>
                        <div class="col-md-7 bb-text">
                            <h4>ยินดีต้อนรับ</h4>
                            <p>สามารถรับข่าวสารการบริการห้องสมุดประเวศ ทางนี้</p>
                        </div>
                        <div class="col-md-3 bb-link">
                            <a href="#">สมัครสมาชิก</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <section class="wed-hom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>เกี่ยวกับเรา</h4>
                    <p>เราอยากให้ทุกคนได้เข้าใจว่า การเรียนรู้ทำได้ตลอดชีวิต แล้วก็อยากให้นักเรียนในชุมชน หรือคนที่อยู่ใกล้ๆ สามารถมาใช้บริการของเราได้ เพราะเรามีกิจกรรมต่างๆ มากมาย </p>
                    <p>ห้องสมุดเพื่อการเรียนรู้’ รวมถึงหอสมุดเมืองกรุงเทพมหานคร เป็นห้องสมุดที่อยู่ภายใต้การดูแลของ กทม. ที่ทุกคนสามารถเข้าไปใช้บริการได้ฟรี
                    </p>
                    <p>ซึ่งแต่เดิมหลายๆ คนน่าจะคุ้นเคยกันในชื่อ ‘ห้องสมุดประชาชน’ มากกว่า แต่ตั้งแต่ที่กรุงเทพฯ ได้รับเลือกให้เป็นเมืองหนังสือโลกในปี พ.ศ.2556 ทาง กทม.ก็พยายามปรับเปลี่ยนรูปแบบห้องสมุดให้น่าไปใช้บริการมากขึ้น
                    </p>
                    <p></p>
                </div>
            </div>
            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>แผนผังเว็บไซต์ (Sitemap)</h4>
                    <ul>
                        <li><a href="#">หน้าแรก</a></li>
                        <li><a href="#">เกี่ยวกับเรา</a></li>
                        <li><a href="#">หนังสือและสื่อต่างๆ</a></li>
                        <li><a href="#">กิจกรรม</a></li>
                        <li><a href="#">บรรณารักษ์</a></li>
                        <li><a href="#">ห้องสมุดทั้ง 37 แห่ง</a></li>
                        <li><a href="#">ติดต่อเรา</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>โครงการต่างๆ</h4>
                    <ul>
                        <li><a href="#">ปฏิทิน</a></li>
                        <li><a href="course-details.html">กิจกรรมวันสำคัญ</a></li>
                        <li><a href="course-details.html">กิจกรรม</a></li>
                        <li><a href="course-details.html">แจ้งชำระค่าปรับ</a></li>
                        <li><a href="course-details.html">20 อันดับยอดนิยม</a></li>
                        <li><a href="course-details.html">ฐานข้อมูล</a></li>
                        <li><a href="course-details.html">Ebook ยอดนิยม</a></li>
                        <li><a href="course-details.html">แนะนำหนังสือใหม่</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>งานบริการ & งานช่วยเหลือ</h4>
                    <ul>
                        <li><a href="#">ตู้ล็อกเกอร์</a>
                        </li>
                        <li><a href="#">ฟรีอิเตอร์เน็ต</a>
                        </li>
                        <li><a href="#">จอง/ขอใช้บริการ</a>
                        </li>
                        <li><a href="#">ข้อตกลงการใช้บริการ</a>
                        </li>
                        <li><a href="#">ยืม-คืน</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>ติดต่อเราสอบถามเพิ่มเติม</h4>
                    <p>ห้องสมุดเพื่อการเรียนรู้ ประเวศ : เขตประเวศ ซ.สุภาพงษ์ ถ.ศรีนครินทร์ แขวงหนองบอน เขตประเวศ กทม. 10260 โทร. 0 2330 8479</p>
                    <p>Phone: <a href="#!">02-3308479</a></p>
                    <p>Email: <a href="#!">info@edu.com</a></p>
                </div>
                <div class="col-md-4">
                    <h4>DOWNLOAD OUR FREE MOBILE APPS</h4>
                    <ul>
                        <li><a href="#"><span class="sprite sprite-android"></span></a>
                        </li>
                        <li><a href="#"><span class="sprite sprite-ios"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- COPY RIGHTS -->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                    <a target="_blank" href="#">
Copyright © 2020 Bangkok digital library. All rights reserved.</a>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION เข้าสู่ระบบ, สมัครสมาชิก AND FORGOT PASSWORD-->
    <section>
        <!-- เข้าสู่ระบบ SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>เข้าสู่ระบบ with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>

                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>เข้าสู่ระบบ</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="เข้าสู่ระบบ" class="waves-effect waves-light log-in-btn">
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- สมัครสมาชิก SECTION -->
        <div id="modal2" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>เข้าสู่ระบบ with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Create an Account</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="email" class="validate">
                                <label>Email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="สมัครสมาชิก" class="waves-effect waves-light log-in-btn">
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? เข้าสู่ระบบ</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal3" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>เข้าสู่ระบบ with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Forgot password</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name3" class="validate">
                                <label>User name or email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn">
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? เข้าสู่ระบบ</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new
                                    account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- SOCIAL MEDIA SHARE -->
    <section>
        <div class="icon-float">
            <ul>
                <li><a href="#" class="sh">1k <br> Share</a> </li>
                <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
</body>


</html>