<!DOCTYPE html>
<html lang="en">



<head>
    <title>Bangkok Digital Library</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="เป็นระบบที่ช่วยประชาชนและบุคลากรห้องสมุดเพื่อการค้นฐานข้อมูลต่าง ๆ ของห้องสมุด เปรียบเสมือนท่านกำลังนั่งค้นอยู่ในห้องสมุดทั้ง 37 แห่งของกรุงเทพมหานคร">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 or Google Chrome support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index-2.html"><img src="images/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>เมนูหลัก</h4>
                            <ul>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                            </ul>
                            <h4>เมนูหลัก</h4>
                            <ul>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                            </ul>
                            <h4>เมนูหลัก</h4>
                            <ul>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                                <li><a href="course-details.html">เมนูย่อย</a></li>
                            </ul>
                            <h4>เมนูหลัก</h4>
                            <ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">ห้องสมุดเพื่อการเรียนรู้ ประเวศ : เขตประเวศ ซ.สุภาพงษ์ ถ.ศรีนครินทร์ แขวงหนองบอน เขตประเวศ กทม. 10260</a> </li>
                                <li><a href="#">Phone: โทร. 0 2330 8479</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">เข้าสู่ระบบ</a>
                                </li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">สมัคร</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index.html"><img src="images/logo.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="#">หน้าแรก</a>
                                </li>
                                <li class="about-menu">
                                    <a href="#" class="mm-arr">หนังสือและสื่อต่างๆ</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="">
                                                            <img src="images/h-about.jpg" alt="">
                                                            <span>ห้องสมุดเขตประเวศ>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>ห้องสมุดประชาชน พื้นที่ที่เป็นได้มากกว่าที่เก็บหนังสือ</p>
                                                    <a href="" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="">หนังสือทั่วไป &หนังสืออ้างอิง</a></li>
                                                        <li><a href="">ชีวประวัติ</a></li>
                                                        <li><a href="">หนังสือเด็ก</a></li>
                                                        <li><a href="">งานฝีมือ & งานอดิเรก</a></li>
                                                        <li><a href="">นิยาย & วรรณกรรมเยาวชนแปล</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-s4">
                                                    <ul>
                                                        <li><a href="">ศาสนา & ปรัชญา</a></li>
                                                        <li><a href="">คอมพิวเตอร์</a></li>
                                                        <li><a href="">วิทยาการ & เทดโนโลยี</a></li>
                                                        <li><a href="">หนังสือสำหรับเยาวชน &หนังสือสำหรับเด็กเล็ก</a></li>
                                                        <li><a href="">การท่องเที่ยว</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="admi-menu">
                                    <a href="#" class="mm-arr">การให้บริการ</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="admi-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="about.html">
                                                            <img src="images/h-about1.jpg" alt="">
                                                            <span>ห้องสมุดเขตประเวศ</span>
                                                        </a>
                                                    </div>
                                                    <p>เป็นข้อความทำสอบ เพื่อจำลองการให้บริการ การเข้าใช้งานห้องสมุดประชาชนในรูปแบบใหม่. เข้าถึงประชาชนอย่างไกล้ชิด
                                                    </p>

                                                    <a href="about.html" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="admission.html">
                                                            <img src="images/h-adm1.jpg" alt="">
                                                            <span>ห้องสมุดเขตประเวศ</span>
                                                        </a>
                                                    </div>
                                                    <p>เป็นข้อความทำสอบ เพื่อจำลองการให้บริการ การเข้าใช้งานห้องสมุดประชาชนในรูปแบบใหม่. เข้าถึงประชาชนอย่างไกล้ชิด </p>
                                                    <a href="admission.html" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="awards.html">
                                                            <img src="images/h-cam1.jpg" alt="">
                                                            <span>ห้องสมุดเขตประเวศ</span>
                                                        </a>
                                                    </div>
                                                    <p>สำรวจอาชีพสร้างประวัติส่วนตัวของคุณและหางานที่ยอดเยี่ยม!</p>
                                                    <a href="awards.html" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s4">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="seminar.html">
                                                            <img src="images/h-res1.jpg" alt="">
                                                            <span>ห้องสมุดเขตประเวศ</span>
                                                        </a>
                                                    </div>
                                                    <p>มีไฟในเทศกาลวันหยุดนี้หรือไม่? อย่าทิ้งพวกเขาไปรีไซเคิลพวกเขา! สถานที่ตั้งห้องสมุดประชาชนดิจิทัลกรุงเทพจะเป็นอย่างไร</p>
                                                    <a href="seminar.html" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li><a href="events.html">ข่าวและกิจกรรม</a>
                                </li>

                                </li>
                                <li><a href="contact.html">ติดต่อเรา</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
        <!-- END LOGO AND MENU SECTION -->

        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="ค้นหาหนังสือในหอสมุดกรุงเทพฯ">
                                    </div>
                                    <div class="sf-list">
                                        <h4>เมนูหลัก</h4>
                                        <ul>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                        </ul>
                                        <h4>เมนูหลัก</h4>
                                        <ul>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                        </ul>
                                        <h4>เมนูหลัก</h4>
                                        <ul>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                            <li><a href="course-details.html">เมนูย่อย</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-submit">
                                    <input type="submit" value="ค้นหา">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    <!--SECTION START-->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>ห้องสมุดเพื่อการเรียนรู้ : เขตประเวศ<span> ยินดีให้บริการประชาชนทุกท่าน</span></h2>
                            <p>ซ.สุภาพงษ์ ถ.ศรีนครินทร์ แขวงหนองบอน เขตประเวศ กทม. 10260 โทร. 0 2330 8479 วิธีการเดินทาง : รถเมล์สาย ปอ.11 / 133 / 145 / 206</p>
                        </div>
                    </div>
                    <!--  <div class="pg-contact">
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1">
                            <h2>Educate <span>Master</span></h2>
                            <p>We Provide Outsourced Software Development Services To Over 50 Clients From 21 Countries.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1"> <img src="img/contact/1.html" alt="">
                            <h4>Address</h4>
                            <p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.
                                <br>Landmark : Next To Airport</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con3"> <img src="img/contact/2.html" alt="">
                            <h4>CONTACT INFO:</h4>
                            <p> <a href="tel://0099999999" class="contact-icon">Phone: 01 234874 965478</a>
                                <br> <a href="tel://0099999999" class="contact-icon">Mobile: 01 654874 965478</a>
                                <br> <a href="mailto:mytestmail@gmail.com" class="contact-icon">Email: info@company.com</a> </p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con4"> <img src="img/contact/3.html" alt="">
                            <h4>Website</h4>
                            <p> <a href="#">Website: www.mycompany.com</a>
                                <br> <a href="#">Facebook: www.facebook/my</a>
                                <br> <a href="#">Blog: www.blog.mycompany.com</a> </p>
                        </div>
                    </div>  -->
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

    <section id="map">
        <div class="row contact-map">
            <!-- IFRAME: GET YOUR LOCATION FROM GOOGLE MAP -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d15506.566949756876!2d100.65621777849366!3d13.6795355463069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x311d6073c9d4167b%3A0x36b0e29da33247f8!2z4Lir4LmJ4Lit4LiH4Liq4Lih4Li44LiU4LmA4Lie4Li34LmI4Lit4LiB4Liy4Lij4LmA4Lij4Li14Lii4LiZ4Lij4Li54LmJ4oCLIOC5gOC4guC4leC4m-C4o-C4sOC5gOC4p-C4qCAyIOC4i-C4reC4oiDguKjguKPguLXguJnguITguKPguLTguJnguJfguKPguYwgNDIg4LmB4LiC4Lin4LiHIOC4q-C4meC4reC4h-C4muC4reC4mSDguYDguILguJUg4Lib4Lij4Liw4LmA4Lin4LioIOC4geC4o-C4uOC4h-C5gOC4l-C4nuC4oeC4q-C4suC4meC4hOC4oyAxMDI1MA!3m2!1d13.6918817!2d100.64629389999999!5e0!3m2!1sth!2sth!4v1580365469018!5m2!1sth!2sth"
                width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <div class="container">
                <div class="overlay-contact footer-part footer-part-form">
                    <div class="map-head">
                        <p>ติดต่อเรา</p>
                        <h2>ติดต่อเรา</h2>
                        ส่งข้อความถึงบรรณารักษ์ห้องสมุด<br>
                    </div>
                    <!-- ENQUIRY FORM -->
                    <form id="contact_form" name="contact_form" action="################################">
                        <ul>
                            <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                                <input type="text" id="f1" value="" name="f1" placeholder="ชื่อ -นามสกุล" required=""> </li>
                            <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                                <input type="text" id="f2" value="" name="f2" placeholder="เบอร์โทร" required=""> </li>
                            <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                                <input type="text" id="f3" value="" name="f3" placeholder="รหัสประชาชน 13 หลัก " required=""> </li>
                            <li class="col-md-6 col-sm-6 col-xs-12 contact-input-spac">
                                <input type="text" id="f4" value="" name="f4" placeholder="line iD" required=""> </li>
                            <li class="col-md-12 col-sm-12 col-xs-12 contact-input-spac">
                                <textarea id="f5" name="f5" required=""></textarea>
                            </li>
                            <li class="col-md-6">
                                <input type="submit" value="ส่งข้อความ"> </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION START-->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            <img src="images/3.png" alt="">
                        </div>
                        <div class="col-md-7 bb-text">
                            <h4>ยินดีต้อนรับ</h4>
                            <p>สามารถรับข่าวสารการบริการห้องสมุดประเวศ ทางนี้</p>
                        </div>
                        <div class="col-md-3 bb-link">
                            <a href="index.html">สมัครสมาชิก</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

    <!--HEADER SECTION-->
    <section class="wed-hom-footer">
        <div class="container">
            <!--<div class="row">
				<div class="col-md-12">
				<h4>About Wedding Planner</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
				<p>more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
				<p></p>
			  </div>
			  </div>-->
            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>แผนผังเว็บไซต์ (Sitemap)</h4>
                    <ul>
                        <li><a href="#">หน้าแรก</a></li>
                        <li><a href="#">เกี่ยวกับเรา</a></li>
                        <li><a href="#">หนังสือและสื่อต่างๆ</a></li>
                        <li><a href="#">กิจกรรม</a></li>
                        <li><a href="#">บรรณารักษ์</a></li>
                        <li><a href="#">ห้องสมุดทั้ง 37 แห่ง</a></li>
                        <li><a href="#">ติดต่อเรา</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>โครงการต่างๆ</h4>
                    <ul>
                        <li><a href="#">ปฏิทิน</a></li>
                        <li><a href="course-details.html">กิจกรรมวันสำคัญ</a></li>
                        <li><a href="course-details.html">กิจกรรม</a></li>
                        <li><a href="course-details.html">แจ้งชำระค่าปรับ</a></li>
                        <li><a href="course-details.html">20 อันดับยอดนิยม</a></li>
                        <li><a href="course-details.html">ฐานข้อมูล</a></li>
                        <li><a href="course-details.html">Ebook ยอดนิยม</a></li>
                        <li><a href="course-details.html">แนะนำหนังสือใหม่</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>งานบริการ & งานช่วยเหลือ</h4>
                    <ul>
                        <li><a href="#">ตู้ล็อกเกอร์</a>
                        </li>
                        <li><a href="#">ฟรีอิเตอร์เน็ต</a>
                        </li>
                        <li><a href="#">จอง/ขอใช้บริการ</a>
                        </li>
                        <li><a href="#">ข้อตกลงการใช้บริการ</a>
                        </li>
                        <li><a href="#">ยืม-คืน</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>ที่ตั้งห้องสมุด</h4>
                    <p>ซ.สุภาพงษ์ ถ.ศรีนครินทร์ แขวงหนองบอน เขตประเวศ กทม. 102609 วิธีการเดินทาง : รถเมล์สาย ปอ.11 / 133 / 145 / 206</p>
                    <p>Phone: <a href="#!"> โทร. 0 2330 847</a></p>
                    <p>Email: <a href="#!">bkkdigitallibrary@gmail.com</a></p>
                </div>
                <div class="col-md-4">
                    <h4>DOWNLOAD OUR FREE MOBILE APPS</h4>
                    <ul>
                        <li><a href="#"><span class="sprite sprite-android"></span></a>
                        </li>
                        <li><a href="#"><span class="sprite sprite-ios"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    <!--HEADER SECTION-->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

    <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
    <section>
        <!-- LOGIN SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                    </a>
                    <h4>Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submitvalue=" Login " class="waves-effect waves-light log-in-btn "> </div>
                        </div>
                        <div>
                            <div class="input-field s12 "> <a href="# " data-dismiss="modal " data-toggle="modal " data-target="#modal3 ">Forgot password</a> | <a href="# " data-dismiss="modal " data-toggle="modal " data-target="#modal2 ">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div id="modal2 " class="modal fade " role="dialog ">
            <div class="log-in-pop ">
                <div class="log-in-pop-left ">
                    <h1>Hello...</h1>
                    <p>Dont have an account?' Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="# "><i class="fa fa-facebook "></i> Facebook</a>
                        </li>
                        <li><a href="# "><i class="fa fa-google "></i> Google+</a>
                        </li>
                        <li><a href="# "><i class="fa fa-twitter "></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right ">
                    <a href="# " class="pop-close " data-dismiss="modal "><img src="images/cancel.png " alt=" " />
                    </a>
                    <h4>Create an Account</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12 ">
                        <div>
                            <div class="input-field s12 ">
                                <input type="text " data-ng-model="name1 " class="validate ">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12 ">
                                <input type="email " class="validate ">
                                <label>Email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12 ">
                                <input type="password " class="validate ">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12 ">
                                <input type="password " class="validate ">
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4 ">
                                <input type="submit " value="Register " class="waves-effect waves-light log-in-btn "> </div>
                        </div>
                        <div>
                            <div class="input-field s12 "> <a href="# " data-dismiss="modal " data-toggle="modal " data-target="#modal1 ">Are you a already member ? Login</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal3 " class="modal fade " role="dialog ">
            <div class="log-in-pop ">
                <div class="log-in-pop-left ">
                    <h1>Hello... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="# "><i class="fa fa-facebook "></i> Facebook</a>
                        </li>
                        <li><a href="# "><i class="fa fa-google "></i> Google+</a>
                        </li>
                        <li><a href="# "><i class="fa fa-twitter "></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right ">
                    <a href="# " class="pop-close " data-dismiss="modal "><img src="images/cancel.png " alt=" " />
                    </a>
                    <h4>Forgot password</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12 ">
                        <div>
                            <div class="input-field s12 ">
                                <input type="text " data-ng-model="name3 " class="validate ">
                                <label>User name or email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4 ">
                                <input type="submit " value="Submit " class="waves-effect waves-light log-in-btn "> </div>
                        </div>
                        <div>
                            <div class="input-field s12 "> <a href="# " data-dismiss="modal " data-toggle="modal " data-target="#modal1 ">Are you a already member ? Login</a> | <a href="# " data-dismiss="modal " data-toggle="modal " data-target="#modal2 ">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="icon-float ">
            <ul>
                <li><a href="# " class="sh ">1k <br> Share</a> </li>
                <li><a href="# " class="fb1 "><i class="fa fa-facebook " aria-hidden="true "></i></a> </li>
                <li><a href="# " class="gp1 "><i class="fa fa-google-plus " aria-hidden="true "></i></a> </li>
                <li><a href="# " class="tw1 "><i class="fa fa-twitter " aria-hidden="true "></i></a> </li>
                <li><a href="# " class="li1 "><i class="fa fa-linkedin " aria-hidden="true "></i></a> </li>
                <li><a href="# " class="wa1 "><i class="fa fa-whatsapp " aria-hidden="true "></i></a> </li>
                <li><a href="# " class="sh1 "><i class="fa fa-envelope-o " aria-hidden="true "></i></a> </li>
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/materialize.min.js "></script>
    <script src="js/custom.js "></script>
</body>


</html>