<!DOCTYPE html>
<html lang="en">


<head>
    <title>Education Master Template</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Education master is one of the best educational html template, it's suitable for all education websites like university,college,school,online education,tution center,distance education,computer education">
    <meta name="keyword" content="education html template, university template, college template, school template, online education template, tution center template">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="index-2.html"><img src="images/logo.png" alt="" />
						</a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>All Courses</h4>
                            <ul>
                                <li><a href="course-details.html">Accounting/Finance</a></li>
                                <li><a href="course-details.html">civil engineering</a></li>
                                <li><a href="course-details.html">Art/Design</a></li>
                                <li><a href="course-details.html">Marine Engineering</a></li>
                                <li><a href="course-details.html">Business Management</a></li>
                                <li><a href="course-details.html">Journalism/Writing</a></li>
                                <li><a href="course-details.html">Physical Education</a></li>
                                <li><a href="course-details.html">Political Science</a></li>
                                <li><a href="course-details.html">Sciences</a></li>
                                <li><a href="course-details.html">Statistics</a></li>
                                <li><a href="course-details.html">Web Design/Development</a></li>
                                <li><a href="course-details.html">SEO</a></li>
                                <li><a href="course-details.html">Google Business</a></li>
                                <li><a href="course-details.html">Graphics Design</a></li>
                                <li><a href="course-details.html">Networking Courses</a></li>
                                <li><a href="course-details.html">Information technology</a></li>
                            </ul>
                            <h4>User Account</h4>
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a></li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Register</a></li>
                            </ul>
                            <h4>All Pages</h4>
                            <ul>
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="about.html">About us</a></li>
                                <li><a href="admission.html">Admission</a></li>
                                <li><a href="all-courses.html">All courses</a></li>
                                <li><a href="course-details.html">Course details</a></li>
                                <li><a href="awards.html">Awards</a></li>
                                <li><a href="seminar.html">Seminar</a></li>
                                <li><a href="events.html">Events</a></li>
                                <li><a href="event-details.html">Event details</a></li>
                                <li><a href="event-register.html">Event register</a></li>
                                <li><a href="contact-us.html">Contact us</a></li>
                            </ul>
                            <h4>User Profile</h4>
                            <ul>
                                <li><a href="dashboard.html">User profile</a></li>
                                <li><a href="db-courses.html">Courses</a></li>
                                <li><a href="db-exams.html">Exams</a></li>
                                <li><a href="db-profile.html">Prfile</a></li>
                                <li><a href="db-time-line.html">Time line</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">ห้องสมุดเพื่อการเรียนรู้ : เขตประเวศ ซ.สุภาพงษ์ ถ.ศรีนครินทร์
                                        แขวงหนองบอน เขตประเวศ กทม. 10260</a> </li>
                                <li><a href="#">Phone: โทร. 0 2330 8479</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">เข้าสู่ระบบ</a>
                                </li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">สมัคร</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="https://www.facebook.com/pages/category/Education/ห้องสมุดเพื่อการเรียนรู้ประเวศ-148250725554522/"
                                        target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- TOP MUNU LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index.html"><img src="images/logo.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="#">หน้าแรก</a>
                                </li>
                                <li class="about-menu">
                                    <a href="#" class="mm-arr">หนังสือและสื่อต่างๆ</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="">
                                                            <img src="images/h-about.jpg" alt="">
                                                            <span>ห้องสมุดเขตประเวศ</a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>ห้องสมุดประชาชน พื้นที่ที่เป็นได้มากกว่าที่เก็บหนังสือ</p>
                                                    <a href="" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="">หนังสือทั่วไป &หนังสืออ้างอิง</a></li>
                                                        <li><a href="">ชีวประวัติ</a></li>
                                                        <li><a href="">หนังสือเด็ก</a></li>
                                                        <li><a href="">งานฝีมือ & งานอดิเรก</a></li>
                                                        <li><a href="">นิยาย & วรรณกรรมเยาวชนแปล</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-s4">
                                                    <ul>
                                                        <li><a href="">ศาสนา & ปรัชญา</a></li>
                                                        <li><a href="">คอมพิวเตอร์</a></li>
                                                        <li><a href="">วิทยาการ & เทดโนโลยี</a></li>
                                                        <li><a href="">หนังสือสำหรับเยาวชน &หนังสือสำหรับเด็กเล็ก</a>
                                                        </li>
                                                        <li><a href="">การท่องเที่ยว</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="admi-menu">
                                    <a href="#" class="mm-arr">การให้บริการ</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="admi-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="about.html">
                                                            <img src="images/h-about1.jpg" alt="">
                                                            <span>ห้องสมุดเขตประเวศ</span>
                                                        </a>
                                                    </div>
                                                    <p>เป็นข้อความทำสอบ เพื่อจำลองการให้บริการ
                                                        การเข้าใช้งานห้องสมุดประชาชนในรูปแบบใหม่.
                                                        เข้าถึงประชาชนอย่างไกล้ชิด
                                                    </p>

                                                    <a href="about.html" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="admission.html">
                                                            <img src="images/h-adm1.jpg" alt="">
                                                            <span>ห้องสมุดเขตประเวศ</span>
                                                        </a>
                                                    </div>
                                                    <p>เป็นข้อความทำสอบ เพื่อจำลองการให้บริการ
                                                        การเข้าใช้งานห้องสมุดประชาชนในรูปแบบใหม่.
                                                        เข้าถึงประชาชนอย่างไกล้ชิด </p>
                                                    <a href="admission.html" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="awards.html">
                                                            <img src="images/h-cam1.jpg" alt="">
                                                            <span>ห้องสมุดเขตประเวศ</span>
                                                        </a>
                                                    </div>
                                                    <p>สำรวจอาชีพสร้างประวัติส่วนตัวของคุณและหางานที่ยอดเยี่ยม!</p>
                                                    <a href="awards.html" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s4">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="seminar.html">
                                                            <img src="images/h-res1.jpg" alt="">
                                                            <span>ห้องสมุดเขตประเวศ</span>
                                                        </a>
                                                    </div>
                                                    <p>มีไฟในเทศกาลวันหยุดนี้หรือไม่? อย่าทิ้งพวกเขาไปรีไซเคิลพวกเขา!
                                                        สถานที่ตั้งห้องสมุดประชาชนดิจิทัลกรุงเทพจะเป็นอย่างไร
                                                    </p>
                                                    <a href="seminar.html" class="mm-r-m-btn">อ่านเพิ่ม</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li><a href="events.html">ข่าวและกิจกรรม</a>
                                </li>

                                <li>
                                    <a href="about.html">เกี่ยวกับเรา</a>
                                </li>

                                </li>
                                <li><a href="contact.html">ติดต่อเรา</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
        <!-- END LOGO AND MENU SECTION -->

        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="ค้นหาหนังสือ">
                                    </div>
                                    <div class="sf-list">
                                        <ul>
                                            <li>
                                                <a
                                                    href="http://119.63.76.11/liberty/opac/search.do?queryTerm=%E0%B9%80%E0%B8%94%E0%B9%87%E0%B8%81%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B9%80%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B8%8A%E0%B8%99%20-%20-%20%E0%B8%AB%E0%B8%99%E0%B8%B1%E0%B8%87%E0%B8%AA%E0%B8%B7%E0%B8%AD%E0%B8%97%E0%B8%B1%E0%B9%88%E0%B8%A7%E0%B9%84%E0%B8%9B%20&%E0%B8%AB%E0%B8%99%E0%B8%B1%E0%B8%87%E0%B8%AA%E0%B8%B7%E0%B8%AD%E0%B8%AD%E0%B9%89%E0%B8%B2%E0%B8%87%E0%B8%AD%E0%B8%B4%E0%B8%87&mode=BASIC&operator=AND&includeNonPhysicalItems=true&title=Title%20...%20enter%20here&publicationYear=Year%20From&yearTo=Year%20To&catalogAuthors=Author%20...%20enter%20here&publisher=Publisher%20...%20enter%20here&mainSubject=Subject%20...%20enter%20here&series=Series%20...%20enter%20here&limit=All&branch=All&resourceCollection=All&=undefined&modeRadio=KEYWORD&activeMenuItem=false">หนังสือทั่วไป
                                                    & หนังสืออ้างอิง</a>
                                            </li>
                                            <li><a href="http://119.63.76.11/liberty/opac/search.do?=%E0%B8%AB%E0%B8%99%E0%B8%B1%E0%B8%87%E0%B8%AA%E0%B8%B7%E0%B8%AD%E0%B8%97%E0%B8%B1%E0%B9%88%E0%B8%A7%E0%B9%84%E0%B8%9B&=%E0%B9%80%E0%B8%94%E0%B9%87%E0%B8%81%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B9%80%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B8%8A%E0%B8%99&queryTerm=%E0%B8%8A%E0%B8%B5%E0%B8%A7%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%A7%E0%B8%B1%E0%B8%95%E0%B8%B4&mode=BASIC&operator=AND&includeNonPhysicalItems=true&title=Title%20...%20enter%20here&publicationYear=Year%20From&yearTo=Year%20To&catalogAuthors=Author%20...%20enter%20here&publisher=Publisher%20...%20enter%20here&mainSubject=Subject%20...%20enter%20here&series=Series%20...%20enter%20here&limit=All&branch=All&resourceCollection=All&=undefined&modeRadio=KEYWORD&activeMenuItem=false"
                                                    target="_blank">ชีวประวัติ</a>
                                            </li>

                                            <li><a href="http://119.63.76.11/liberty/opac/search.do?=%E0%B8%AB%E0%B8%99%E0%B8%B1%E0%B8%87%E0%B8%AA%E0%B8%B7%E0%B8%AD%E0%B9%80%E0%B8%94%E0%B9%87%E0%B8%81&queryTerm=%E0%B8%AB%E0%B8%99%E0%B8%B1%E0%B8%87%E0%B8%AA%E0%B8%B7%E0%B8%AD%E0%B9%80%E0%B8%94%E0%B9%87%E0%B8%81&mode=BASIC&operator=AND&includeNonPhysicalItems=true&title=Title%20...%20enter%20here&publicationYear=Year%20From&yearTo=Year%20To&catalogAuthors=Author%20...%20enter%20here&publisher=Publisher%20...%20enter%20here&mainSubject=Subject%20...%20enter%20here&series=Series%20...%20enter%20here&limit=All&branch=All&resourceCollection=All&=undefined&modeRadio=KEYWORD&activeMenuItem=false"
                                                    target="_blank">หนังสือเด็ก</a>
                                            </li>
                                            <li><a href="http://119.63.76.11/liberty/opac/search.do?=%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%9D%E0%B8%B5%E0%B8%A1%E0%B8%B7%E0%B8%AD&queryTerm=%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%9D%E0%B8%B5%E0%B8%A1%E0%B8%B7%E0%B8%AD&mode=BASIC&operator=AND&includeNonPhysicalItems=true&title=Title%20...%20enter%20here&publicationYear=Year%20From&yearTo=Year%20To&catalogAuthors=Author%20...%20enter%20here&publisher=Publisher%20...%20enter%20here&mainSubject=Subject%20...%20enter%20here&series=Series%20...%20enter%20here&limit=All&branch=All&resourceCollection=All&=undefined&modeRadio=KEYWORD&activeMenuItem=false"
                                                    target="_blank">งานฝีมือ
                                                    & งานอดิเรก</a></li>
                                            <li><a href="http://119.63.76.11/liberty/opac/search.do?=%E0%B8%99%E0%B8%B4%E0%B8%A2%E0%B8%B2%E0%B8%A2&=%E0%B8%A7%E0%B8%A3%E0%B8%A3%E0%B8%93%E0%B8%81%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B9%80%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B8%8A%E0%B8%99%E0%B9%81%E0%B8%9B%E0%B8%A5&queryTerm=%E0%B8%99%E0%B8%B4%E0%B8%A2%E0%B8%B2%E0%B8%A2%20%26%20%E0%B8%A7%E0%B8%A3%E0%B8%A3%E0%B8%93%E0%B8%81%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B9%80%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B8%8A%E0%B8%99%E0%B9%81%E0%B8%9B%E0%B8%A5&mode=BASIC&operator=AND&includeNonPhysicalItems=true&title=Title%20...%20enter%20here&publicationYear=Year%20From&yearTo=Year%20To&catalogAuthors=Author%20...%20enter%20here&publisher=Publisher%20...%20enter%20here&mainSubject=Subject%20...%20enter%20here&series=Series%20...%20enter%20here&limit=All&branch=All&resourceCollection=All&=undefined&modeRadio=KEYWORD&activeMenuItem=false"
                                                    target="_blank">นิยาย
                                                    & วรรณกรรมเยาวชนแปล</a></li>
                                            <li><a href="http://119.63.76.11/liberty/opac/search.do?=%E0%B8%A8%E0%B8%B2%E0%B8%AA%E0%B8%99%E0%B8%B2&queryTerm=%E0%B8%A8%E0%B8%B2%E0%B8%AA%E0%B8%99%E0%B8%B2-%E0%B8%9B%E0%B8%A3%E0%B8%B1%E0%B8%8A%E0%B8%8D%E0%B8%B2&mode=BASIC&operator=AND&includeNonPhysicalItems=true&title=Title%20...%20enter%20here&publicationYear=Year%20From&yearTo=Year%20To&catalogAuthors=Author%20...%20enter%20here&publisher=Publisher%20...%20enter%20here&mainSubject=Subject%20...%20enter%20here&series=Series%20...%20enter%20here&limit=All&branch=All&resourceCollection=All&=undefined&modeRadio=KEYWORD&activeMenuItem=false"
                                                    target="_blank">ศาสนา
                                                    & ปรัชญา</a></li>
                                            <li><a href="http://119.63.76.11/liberty/opac/search.do?=%E0%B8%A8%E0%B8%B2%E0%B8%AA%E0%B8%99%E0%B8%B2&queryTerm=%E0%B8%84%E0%B8%AD%E0%B8%A1%E0%B8%9E%E0%B8%B4%E0%B8%A7%E0%B9%80%E0%B8%95%E0%B8%AD%E0%B8%A3%E0%B9%8C&mode=BASIC&operator=AND&includeNonPhysicalItems=true&title=Title%20...%20enter%20here&publicationYear=Year%20From&yearTo=Year%20To&catalogAuthors=Author%20...%20enter%20here&publisher=Publisher%20...%20enter%20here&mainSubject=Subject%20...%20enter%20here&series=Series%20...%20enter%20here&limit=All&branch=All&resourceCollection=All&=undefined&modeRadio=KEYWORD&activeMenuItem=false"
                                                    target="_blank">คอมพิวเตอร์</a>
                                            </li>
                                            <li><a href="http://119.63.76.11/liberty/opac/search.do?=%E0%B9%80%E0%B8%97%E0%B8%84%E0%B9%82%E0%B8%99%E0%B9%82%E0%B8%A5%E0%B8%A2%E0%B8%B5&queryTerm=%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%81%E0%B8%B2%E0%B8%A3&mode=BASIC&operator=AND&includeNonPhysicalItems=true&title=Title%20...%20enter%20here&publicationYear=Year%20From&yearTo=Year%20To&catalogAuthors=Author%20...%20enter%20here&publisher=Publisher%20...%20enter%20here&mainSubject=Subject%20...%20enter%20here&series=Series%20...%20enter%20here&limit=All&branch=All&resourceCollection=All&=undefined&modeRadio=KEYWORD&activeMenuItem=false"
                                                    target="_blank">วิทยาการ
                                                    & เทคโนโลยี</a></li>
                                            <li><a href="http://119.63.76.11/liberty/opac/search.do?=%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%81%E0%B8%B2%E0%B8%A3&queryTerm=%E0%B8%AA%E0%B8%96%E0%B8%B4%E0%B8%95%E0%B8%B4&mode=BASIC&operator=AND&includeNonPhysicalItems=true&title=Title%20...%20enter%20here&publicationYear=Year%20From&yearTo=Year%20To&catalogAuthors=Author%20...%20enter%20here&publisher=Publisher%20...%20enter%20here&mainSubject=Subject%20...%20enter%20here&series=Series%20...%20enter%20here&limit=All&branch=All&resourceCollection=All&=undefined&modeRadio=KEYWORD&activeMenuItem=false"
                                                    target="_blank">สถิติ</a>
                                            </li>
                                            <li><a href="http://119.63.76.11/liberty/opac/search.do?=%E0%B8%AB%E0%B8%99%E0%B8%B1%E0%B8%87%E0%B8%AA%E0%B8%B7%E0%B8%AD%E0%B8%AA%E0%B8%B3%E0%B8%AB%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B9%80%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B8%8A%E0%B8%99&queryTerm=%E0%B8%AB%E0%B8%99%E0%B8%B1%E0%B8%87%E0%B8%AA%E0%B8%B7%E0%B8%AD%E0%B8%AA%E0%B8%B3%E0%B8%AB%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B9%80%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B8%8A%E0%B8%99&mode=BASIC&operator=AND&includeNonPhysicalItems=true&title=Title%20...%20enter%20here&publicationYear=Year%20From&yearTo=Year%20To&catalogAuthors=Author%20...%20enter%20here&publisher=Publisher%20...%20enter%20here&mainSubject=Subject%20...%20enter%20here&series=Series%20...%20enter%20here&limit=All&branch=All&resourceCollection=All&=undefined&modeRadio=KEYWORD&activeMenuItem=false"
                                                    target="_blank">หนังสือสำหรับเยาวชน
                                                    &หนังสือสำหรับเด็กเล็ก</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-submit">
                                    <input type="submit" value="ค้นหา">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->

	<section>
        <div class="head-2">
            <div class="container">
                <div class="head-2-inn head-2-inn-padd-top">
                    <h1>ข่าวสาร/กิจกรรม</h1>
                    <p>ห้องสมุดภายใต้การดูแลของกรุงเทพมหานคร
</p>
                    <div class="event-head-sub">
                        <ul>
                            <li>ฟีดข่าวของฉัน:ข่าวห้องสมุดวันนี้</li>
                            <li>เวลาเปิดทำการราชการ: 09:00 น. – 16:00 น.</li>
                            <li>โดย:เจ้าหน้าที่ห้องสมุด</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>	
	
    <!--SECTION START-->
    <section>
        <div class="ed-res-bg">
		<div class="container com-sp pad-bot-70 ed-res-bg">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-rsear">
                        <div class="ed-rsear-in">
                            <ul>
                                <li>
									<div class="ed-rese-grid">
										<div class="ed-rsear-img ed-faci-full-top">
											<img src="images/facilities/1.jpg" alt="">
										</div>
										<div class="ed-rsear-dec ed-faci-full-bot">
											<h4><a href="facilities-detail.html">ประกาศ!📖📚
											        📜 📍ห้องสมุดเพื่อการเรียนรู้ประเวศ📚</a></h4>
											<p>📜 📍ห้องสมุดเพื่อการเรียนรู้ประเวศ📚
											    ❌ปิดบริการ ๔ วัน❌
											    🛑วันอาทิตย์ที่ ๕ กรกฎาคม ๒๕๖๓
											    🛑วันจันทร์ที่ ๖ กรกฎาคม ๒๕๖๓
											    🛑วันอังคารที่ ๗ กรกฎาคม ๒๕๖๓
											    🛑วันพุธที่ ๘ กรกฎาคม ๒๕๖๓
											    เนื่องในวันอาสาฬหบูชา,วันเข้าพรรษา ,และวันหยุดชดเชย</p>
											<a href="facilities-detail.html" class="read-line-btn">อ่านต่อ</a>
										</div>
									</div>
                                </li>
                                <li>
									<div class="ed-rese-grid">
										<div class="ed-rsear-img ed-faci-full-top">
											<img src="images/facilities/2.jpg" alt="">
										</div>
										<div class="ed-rsear-dec ed-faci-full-bot">
											<h4><a href="facilities-detail.html">*ประกาศ**
											        ห้องสมุดเพื่อการเรียนรู้ประเวศ
											        แจ้งปิดให้บริการตั้งแต่</a></h4>
											<p>วันอังคารที่ ๑๗ มีนาคม ๒๕๖๓ เป็นต้นไป
											    เพื่อลดความเสี่ยงในการแพร่ระบาด COVID-19และจะเปิดให้บริการอีกครั้งเมื่อ
											    สถานการณ์ ดีขึ้น
											    **โดยจะยกเว้นค่าปรับให้ผู้ใช้บริการนับตั้งแต่วันที่ปิดบริการเป็นต้นไป 🙏🙏ขออภัยในความไม่สะดวก😊
											    หากมีอะไรเพิ่มเติมจะแจ้งให้ทราบต่อไปค่ะ🙏😊 </p>
											<a href="facilities-detail.html" class="read-line-btn">อ่านต่อ</a>
										</div>
									</div>
                                </li>
                                <li>
									<div class="ed-rese-grid">
										<div class="ed-rsear-img ed-faci-full-top">
											<img src="images/facilities/3.jpg" alt="">
										</div>
										<div class="ed-rsear-dec ed-faci-full-bot">
											<h4><a href="facilities-detail.html">บริการยืมคืนระหว่างห้องสมุดเพื่อการเรียนรู้</a></h4>
											<p>บริการยืมคืนระหว่างห้องสมุดเพื่อการเรียนรู้ กรุงเทพมหานคร สแกนได้เลยค่ะ
											    📢 📢📢เพียงแค่สแกนแล้วกรอกข้อมูลตามระบบ หนังสือที่คุณต้องการอ่านจะมาหาคุณ😊😊
											    📍📣หมายเหตุ รับหนังสือภายใน 1 สัปดาห์📣
</p>
											<a href="facilities-detail.html" class="read-line-btn">อ่านต่อ</a>
										</div>
									</div>
                                </li>
                                <li>
									<div class="ed-rese-grid">
										<div class="ed-rsear-img ed-faci-full-top">
											<img src="images/facilities/4.jpg" alt="">
										</div>
										<div class="ed-rsear-dec ed-faci-full-bot">
											<h4><a href="facilities-detail.html">มีหน้ากากผ้าแจกฟรี!!!😷😷😷</a></h4>
											<p>The Design and Technology Suite is an ensemble of various specialist areas and rooms which offer students
											    the potential to explore a variety of designห้องสมุดเพื่อการเรียนรู้ประเวศ😆😷

											    #มีหน้ากากผ้าแจกฟรี!!!😷😷😷

											    สำหรับสมาชิกและผู้เข้าใช้บริการห้องสมุด😊

											    #มีจำนวนจำกัดนะคะ😷😷😷😊 </p>
											<a href="facilities-detail.html" class="read-line-btn">อ่านต่อ</a>
										</div>
									</div>
                                </li>
                                <li>
									<div class="ed-rese-grid">
										<div class="ed-rsear-img ed-faci-full-top">
											<img src="images/facilities/5.jpg" alt="">
										</div>
										<div class="ed-rsear-dec ed-faci-full-bot">
											<h4><a href="facilities-detail.html">Music Suites and En-suite Practice Rooms</a></h4>
											<p>หนังสือน่าสนุก😊📋📜📃📙
											    วันศุกร์ที่ ๒๘ เดือนกุมภาพันธ์ ๒๕๖๓
											    #ห้องสมุดเพื่อการเรียนรู้ประเวศ</p>
											<a href="facilities-detail.html" class="read-line-btn">อ่านต่อ</a>
										</div>
									</div>
                                </li>
                                <li>
									<div class="ed-rese-grid">
										<div class="ed-rsear-img ed-faci-full-top">
											<img src="images/facilities/6.jpg" alt="">
										</div>
										<div class="ed-rsear-dec ed-faci-full-bot">
											<h4><a href="facilities-detail.html">มุมหนังสือน่าสนุก</a></h4>
											<p>หนังสือน่าสนุก😊📋📜📃📙
											    วันศุกร์ที่ ๒๑ เดือนกุมภาพันธ์ ๒๕๖๓
											    #ห้องสมุดเพื่อการเรียนรู้ประเวศ</p>
											<a href="facilities-detail.html" class="read-line-btn">อ่านต่อ</a>
										</div>
									</div>
                                </li>
                                <li>
									<div class="ed-rese-grid">
										<div class="ed-rsear-img ed-faci-full-top">
											<img src="images/facilities/7.jpg" alt="">
										</div>
										<div class="ed-rsear-dec ed-faci-full-bot">
											<h4><a href="facilities-detail.html">กิจกรรมโกโก้หนึบ</a></h4>
											<p>เป็นกิจกรรมสำหรับเด็กๆที่ทางห้องสมุดเตรียมไว้สำหรับหนูๆทุกท่าน</p>
											<a href="facilities-detail.html" class="read-line-btn">อ่านต่อ</a>
										</div>
									</div>
                                </li>
                                <li>
									<div class="ed-rese-grid">
										<div class="ed-rsear-img ed-faci-full-top">
											<img src="images/facilities/8.jpg" alt="">
										</div>
										<div class="ed-rsear-dec ed-faci-full-bot">
											<h4><a href="facilities-detail.html">แจ้งสมาชิกห้องสมุดประเวศ</a></h4>
											<p>ประกาศข่าวจ้าหยุดทำการ 1 วัน </p>
											<a href="facilities-detail.html" class="read-line-btn">อ่านต่อ</a>
										</div>
									</div>
                                </li>
                                <li>
									<div class="ed-rese-grid">
										<div class="ed-rsear-img ed-faci-full-top">
											<img src="images/facilities/9.jpg" alt="">
										</div>
										<div class="ed-rsear-dec ed-faci-full-bot">
											<h4><a href="facilities-detail.html">กิจกรรมลดโลกร้อน</a></h4>
											<p>ห้องสมุดเพื่อการเรียนรู้ประเวศ
											    วันเสาร์ที่ ๒๕ มกราคม ๒๕๖๓
											    #กิจกรรมประดิษฐ์กระเป๋าผ้าลดโลกร้อน</p>
											<a href="facilities-detail.html" class="read-line-btn">อ่านต่อ</a>
										</div>
									</div>
                                </li>
                                <li>
									<div class="ed-rese-grid">
										<div class="ed-rsear-img ed-faci-full-top">
											<img src="images/facilities/10.jpg" alt="">
										</div>
										<div class="ed-rsear-dec ed-faci-full-bot">
											<h4><a href="facilities-detail.html">กิจกรรมวันเด็กแห่งชาติ</a></h4>
											<p>ขอเชิญน้อง ๆ และสมาชิกห้องสมุดทุกท่าน
											    เข้าร่วมกิจกรรมวันเด็กแห่งชาติ ณ ห้องสมุดฯประเวศ มีการละเล่น จับฉลากของขวัญของที่ระลึก
											    อาหารว่างและอาหารกลางวันฟรี🍿🍟🍔🧁🍲🍚🥛🍩🍡
											    ในวันเสาร์ที่11 มกราคม 2563
											    เริ่มเวลา 08.30 เป็นต้นไป⏰
											    #ห้องสมุดประเวศ
											    #วันเด็ก😃 </p>
											<a href="facilities-detail.html" class="read-line-btn">อ่านต่อ</a>
										</div>
									</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ed-about-sec1">
                        <div class="col-md-6"></div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
		</div>
    </section>
    <!--SECTION END-->


    <!--SECTION START-->
    <!-- FOOTER COURSE BOOKING -->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            <img src="images/3.png" alt="">
                        </div>
                        <div class="col-md-7 bb-text">
                            <h4>ยินดีต้อนรับ</h4>
                            <p>สามารถรับข่าวสารการบริการห้องสมุดประเวศ ทางนี้</p>
                        </div>
                        <div class="col-md-3 bb-link">
                            <a href="http://119.63.76.11/liberty/libraryHome.do" target="_blank">สมัครสมาชิก</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION END-->

      <!-- FOOTER -->
      <section class="wed-hom-footer">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <h4>เกี่ยวกับเรา</h4>
                      <p>เราอยากให้ทุกคนได้เข้าใจว่า การเรียนรู้ทำได้ตลอดชีวิต แล้วก็อยากให้นักเรียนในชุมชน
                          หรือคนที่อยู่ใกล้ๆ สามารถมาใช้บริการของเราได้ เพราะเรามีกิจกรรมต่างๆ มากมาย </p>
                      <p>ห้องสมุดเพื่อการเรียนรู้’ รวมถึงหอสมุดเมืองกรุงเทพมหานคร เป็นห้องสมุดที่อยู่ภายใต้การดูแลของ
                          กทม.
                          ที่ทุกคนสามารถเข้าไปใช้บริการได้ฟรี
                      </p>
                      <p>ซึ่งแต่เดิมหลายๆ คนน่าจะคุ้นเคยกันในชื่อ ‘ห้องสมุดประชาชน’ มากกว่า แต่ตั้งแต่ที่กรุงเทพฯ
                          ได้รับเลือกให้เป็นเมืองหนังสือโลกในปี พ.ศ.2556 ทาง
                          กทม.ก็พยายามปรับเปลี่ยนรูปแบบห้องสมุดให้น่าไปใช้บริการมากขึ้น
                      </p>
                      <p></p>
                  </div>
              </div>
              <div class="row wed-foot-link">
                  <div class="col-md-4 foot-tc-mar-t-o">
                      <h4>แผนผังเว็บไซต์ (Sitemap)</h4>
                      <ul>
                          <li><a href="#">หน้าแรก</a></li>
                          <li><a href="#">เกี่ยวกับเรา</a></li>
                          <li><a href="#">หนังสือและสื่อต่างๆ</a></li>
                          <li><a href="#">กิจกรรม</a></li>
                          <li><a href="#">บรรณารักษ์</a></li>
                          <li><a href="#">ห้องสมุดทั้ง 37 แห่ง</a></li>
                          <li><a href="#">ติดต่อเรา</a></li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h4>โครงการต่างๆ</h4>
                      <ul>
                          <li><a href="#">ปฏิทิน</a></li>
                          <li><a href="course-details.html">กิจกรรมวันสำคัญ</a></li>
                          <li><a href="course-details.html">กิจกรรม</a></li>
                          <li><a href="course-details.html">แจ้งชำระค่าปรับ</a></li>
                          <li><a href="course-details.html">20 อันดับยอดนิยม</a></li>
                          <li><a href="course-details.html">ฐานข้อมูล</a></li>
                          <li><a href="course-details.html">Ebook ยอดนิยม</a></li>
                          <li><a href="course-details.html">แนะนำหนังสือใหม่</a></li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h4>งานบริการ & งานช่วยเหลือ</h4>
                      <ul>
                          <li><a href="#">ตู้ล็อกเกอร์</a>
                          </li>
                          <li><a href="#">ฟรีอิเตอร์เน็ต</a>
                          </li>
                          <li><a href="#">จอง/ขอใช้บริการ</a>
                          </li>
                          <li><a href="#">ข้อตกลงการใช้บริการ</a>
                          </li>
                          <li><a href="#">ยืม-คืน</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="row wed-foot-link-1">
                  <div class="col-md-4 foot-tc-mar-t-o">
                      <h4>ติดต่อเราสอบถามเพิ่มเติม</h4>
                      <p>ห้องสมุดเพื่อการเรียนรู้ : เขตประเวศ ซ.สุภาพงษ์ ถ.ศรีนครินทร์ แขวงหนองบอน เขตประเวศ กทม. 10260
                          โทร. 0 2330 8479</p>
                      <p>Phone: <a href="#!">02-3308479</a></p>
                      <p>Email: <a href="#!">info@edu.com</a></p>
                  </div>
                  <div class="col-md-4">
                      <h4>DOWNLOAD OUR FREE MOBILE APPS</h4>
                      <ul>
                          <li><a href="#"><span class="sprite sprite-android"></span></a>
                          </li>
                          <li><a href="#"><span class="sprite sprite-ios"></span></a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h4>SOCIAL MEDIA</h4>
                      <ul>
                          <li><a
                                  href="https://www.facebook.com/pages/category/Education/ห้องสมุดเพื่อการเรียนรู้ประเวศ-148250725554522/"><i
                                      class="fa fa-facebook" aria-hidden="true"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>

      <!-- COPY RIGHTS -->
      <section class="wed-rights">
          <div class="container">
              <div class="row">
                  <div class="copy-right">
                      <a target="_blank" href="#">
                          Copyright © 2020 Bangkok digital library. All rights reserved.</a>
                  </div>
              </div>
          </div>
      </section>
      <!--SECTION เข้าสู่ระบบ, สมัครสมาชิก AND FORGOT PASSWORD-->
      <section>
          <!-- เข้าสู่ระบบ SECTION -->
          <div id="modal1" class="modal fade" role="dialog">
              <div class="log-in-pop">
                  <div class="log-in-pop-left">
                      <h1>สวัสดี...</h1>
                      <p>Don't have an account? Create your account. It's take less then a minutes</p>
                      <h4>เข้าสู่ระบบ with social media</h4>
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                          </li>
                          <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                          </li>
                          <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                          </li>
                      </ul>
                  </div>

                  <div class="log-in-pop-right">
                      <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                      </a>
                      <h4>เข้าสู่ระบบ</h4>
                      <p>ยินดีต้อนรับสู่ระบบค้นหาข้อมูลห้องสมุด</p>
                      <form class="s12">
                          <div>
                              <div class="input-field s12">
                                  <input type="text" data-ng-model="name" class="validate">
                                  <label>User name</label>
                              </div>
                          </div>
                          <div>
                              <div class="input-field s12">
                                  <input type="password" class="validate">
                                  <label>Password</label>
                              </div>
                          </div>
                          <div>
                              <div class="s12 log-ch-bx">
                                  <p>
                                      <input type="checkbox" id="test5" />
                                      <label for="test5">Remember me</label>
                                  </p>
                              </div>
                          </div>
                          <div>
                              <div class="input-field s4">
                                  <input type="submit" value="เข้าสู่ระบบ" class="waves-effect waves-light log-in-btn">
                              </div>
                          </div>
                          <div>
                              <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal"
                                      data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal"
                                      data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- สมัครสมาชิก SECTION -->
          <div id="modal2" class="modal fade" role="dialog">
              <div class="log-in-pop">
                  <div class="log-in-pop-left">
                      <h1>สวัสดี...</h1>
                      <p>Don't have an account? Create your account. It's take less then a minutes</p>
                      <h4>เข้าสู่ระบบ with social media</h4>
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                          </li>
                          <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                          </li>
                          <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                          </li>
                      </ul>
                  </div>
                  <div class="log-in-pop-right">
                      <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                      </a>
                      <h4>Create an Account</h4>
                      <p>Don't have an account? Create your account. It's take less then a minutes</p>
                      <form class="s12">
                          <div>
                              <div class="input-field s12">
                                  <input type="text" data-ng-model="name1" class="validate">
                                  <label>User name</label>
                              </div>
                          </div>
                          <div>
                              <div class="input-field s12">
                                  <input type="email" class="validate">
                                  <label>Email id</label>
                              </div>
                          </div>
                          <div>
                              <div class="input-field s12">
                                  <input type="password" class="validate">
                                  <label>Password</label>
                              </div>
                          </div>
                          <div>
                              <div class="input-field s12">
                                  <input type="password" class="validate">
                                  <label>Confirm password</label>
                              </div>
                          </div>
                          <div>
                              <div class="input-field s4">
                                  <input type="submit" value="สมัครสมาชิก" class="waves-effect waves-light log-in-btn">
                              </div>
                          </div>
                          <div>
                              <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal"
                                      data-target="#modal1">Are you a already member ? เข้าสู่ระบบ</a> </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- FORGOT SECTION -->
          <div id="modal3" class="modal fade" role="dialog">
              <div class="log-in-pop">
                  <div class="log-in-pop-left">
                      <h1>สวัสดี... </h1>
                      <p>Don't have an account? Create your account. It's take less then a minutes</p>
                      <h4>เข้าสู่ระบบ with social media</h4>
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                          </li>
                          <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                          </li>
                          <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                          </li>
                      </ul>
                  </div>
                  <div class="log-in-pop-right">
                      <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                      </a>
                      <h4>Forgot password</h4>
                      <p>Don't have an account? Create your account. It's take less then a minutes</p>
                      <form class="s12">
                          <div>
                              <div class="input-field s12">
                                  <input type="text" data-ng-model="name3" class="validate">
                                  <label>User name or email id</label>
                              </div>
                          </div>
                          <div>
                              <div class="input-field s4">
                                  <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn">
                              </div>
                          </div>
                          <div>
                              <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal"
                                      data-target="#modal1">Are you a already member ? เข้าสู่ระบบ</a> | <a href="#"
                                      data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new
                                      account</a> </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </section>

      <!-- SOCIAL MEDIA SHARE -->
      <section>
          <div class="icon-float">
              <ul>
                  <li><a href="#" class="sh">1k <br> Share</a> </li>
                  <li><a href="https://www.facebook.com/pages/category/Education/ห้องสมุดเพื่อการเรียนรู้ประเวศ-148250725554522/"
                          target="_blank" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>

                  <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                  <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>


              </ul>
          </div>
      </section>


    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
</body>


</html>